#Input[type=text] {
    width: 26%;
    line-height: 25px;
    margin: 8px 0;
    border-radius: 4px;
    box-sizing: border-box;
    border: 2px solid #ccc;
}

#Input[type=text]:focus {
    outline: none;
}